.alterpassword{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.alterpasswordContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left:2%;
  padding-right:1%;
}
.alterpasswordContent>input{
  border:0;
  background-color: #fff;
  border:1px solid #999;
  margin-top:3%;
  padding:2% 0;
}
.alterpassword>button{
  border:0;
  width: 80%;
  margin:0 auto;
  border-radius:6px;
  padding:3% 0;
  color:#fff;
  font-weight:500;
  margin-top:50%;
  margin-bottom:50%;
  background-image: url('../images/u402.svg');
}
