body{
  margin:0;
  box-sizing: border-box;
}
.footer{
  width: 100%;
  display: flex;
  background-color: #000;
  padding:5px 20px;
  box-sizing: border-box;
  position:fixed;
  z-index:999;
  bottom:0;
  left:-5%;
  margin-left:5%;
  justify-content: space-between;
}
.footer>div{
  display: flex;
  text-align: center;
  flex-flow: column;
}
.footer .div3>img{
  margin-top:-25%;
  border-radius: 55%;
  height: 80%;
  border:3px solid #000;
}
.footer>div>img{
  width:50%;
  height: 50%;
  margin:0 auto;
}
.footer>div>span{
  color:#4e4d4d;
  font-size:12px;
}
