body{
  box-sizing: border-box;
}
.center{
  width: 100%;
  background-color: #f1f1f1;
}
.card{
  width: 100%;
  display: flex;
  padding:5%  0;
  background-image: url('../images/u402.svg');
  font-size:12px;
  color:#fff;
  position: relative;
}
.card .left{
  width: 20%;
  display: flex;
  flex-flow: column;
  margin-left:40%;
  text-align: center;
}
.card .left img{
  width: 70%;
  margin:0 auto;
}
.card .left button{
  width: 80%;
  margin:0 auto;
  border:0;
  background-color:rgba(0,0,0,0);
  border-radius: 6px;
  border:1px solid #fff;
  text-align: center;
  font-size:12px;
  color:#fff;
  margin-top:5px;
}
.card .right{
  width: 12%;
  display: flex;
  padding:3px;
  justify-content: space-between;
  border-radius: 6px;
  border:1px solid #fff;
  position: absolute;
  top:5%;
  left:80%;
}
.card .right img{
  width: 40%;
  height:70%;
}
.div{
  width: 100%;
  display: flex;
  flex-flow: column;
  color:#666;
  font-size: 14px;
  margin-bottom:5px;
}
.div>div{
  width: 100%;
  background-color: #fff;
  display: flex;
  text-align: center;
  padding:10px 0px 0px 10px;
  box-sizing: border-box;
}
.div>div .left{
  width:15%;
}
.div>div .left img{
  width: 40%;
}
.div>div .right{
  width:85%;
  display: flex;
  justify-content: space-between;
  padding-right:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
}
.div>div .right .dropdown{
  font-size:16px;
}
.div>div:last-child .right{
  border:0;
}
.opinion{
  margin-bottom:0;
  padding-bottom:40%;
  background-color: #fff;
}
.opinion>div:last-child .right{
  border-bottom:1px solid #ccc;
}
